@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: var(--font-chivo);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-ibm_plex_sans);
}