@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 12% 16%;
    --popover: 0 0% 97%;
    --popover-foreground: 210 12% 6%;
    --card: 0 0% 98%;
    --card-foreground: 210 12% 11%;
    --primary: 194.91 82.56% 16.27; /*220.9 39.3% 11%; */
    --primary-foreground: 210 20% 98%;
    --secondary: 210 3% 75%;
    --secondary-foreground: 210 3% 15%;
    --muted: 0 12% 90%;
    --muted-foreground: 0 12% 30%;
    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 210 13% 21%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 12% 16%;
    --foreground: 214 13% 90%;
    --card: 210 12% 14%;
    --card-foreground: 214 13% 95%;
    --popover: 210 12% 13%;
    --popover-foreground: 214 13% 100%;
    --primary: 194.91 82.56% 38.24%; /*210 20% 98%; */
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 214 3% 25%;
    --secondary-foreground: 214 3% 85%;
    --muted: 210 12% 20%;
    --muted-foreground: 210 12% 70%;
    --accent: 210 12% 31%;
    --accent-foreground: 210 12% 91%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 210 2% 21%;
    --input: 210 2% 24%;
    --ring: 214 13% 90%;
  }
}

@layer base2 {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 12% 16%;
    --muted: 0 12% 90%;
    --muted-foreground: 0 12% 30%;
    --popover: 0 0% 97%;
    --popover-foreground: 210 12% 6%;
    --card: 240, 90%, 96%;
    --card-foreground: 210 12% 11%;
    --border: 0 0% 95%;
    --input: 0 0% 92%;
    --primary: 210 13% 21%;
    --primary-foreground: 210 13% 81%;
    --secondary: 210 3% 75%;
    --secondary-foreground: 210 3% 15%;
    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 25%;
    --destructive: 9 92% 38%;
    --destructive-foreground: 0 0% 100%;
    --ring: 210 13% 21%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 12% 16%;
    --foreground: 214 13% 90%;
    --muted: 210 12% 20%;
    --muted-foreground: 210 12% 70%;
    --popover: 210 12% 13%;
    --popover-foreground: 214 13% 100%;
    --card: 210 12% 14%;
    --card-foreground: 214 13% 95%;
    --border: 210 2% 21%;
    --input: 210 2% 24%;
    --primary: 214 13% 90%;
    --primary-foreground: 214 13% 30%;
    --secondary: 214 3% 25%;
    --secondary-foreground: 214 3% 85%;
    --accent: 210 12% 31%;
    --accent-foreground: 210 12% 91%;
    --destructive: 1 94% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 214 13% 90%;
  }
}

body {
  font-family: var(--font-chivo);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-ibm_plex_sans);
}