---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Madusha Sandaruwan" description="About Madusha Sandaruwan">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="I'm a software engineer based in Colombo, Sri Lanka. I'm passionate about building"
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Madusha working on his laptop"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I'm a Computer Science graduate from the University of Kelaniya, Sri Lanka.
						Currently, I'm working as a software engineer at <a href="https://www.insidercloud.lk/">InsiderCloud</a>.
						My main focus is on building web applications that are performant, accessible, and easy to use.
					</p>
					<p>
						When I'm not coding, I'm probably reading a book, watching a movie, or playing a video game.
						You can find me on <a href="https://twitter.com/_madushas">Twitter</a> and <a href="https://www.linkedin.com/in/madushasandaruwan/">LinkedIn</a>.
					</p>
					<p>
						You can also find me on <a href="#">GitHub</a> and <a href="#">CodePen</a>. I'm currently working on a few open source projects.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						<strong>University of Kelaniya</strong>
						<br />
						Computer Science
						<br />
						2021 - 2025
					</p>
					<br />
					<p>
						<strong>Mahinda College, Galle</strong>
						<br />
						Mathematics, Physics, Information Technology
						<br />
						2017 - 2018
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						<strong>Languages</strong>
						<br />
						JavaScript, TypeScript, Python, Java, C#, C++, HTML, CSS,
						SQL, Bash, PHP, Ruby, Go, Rust, Dart, Kotlin
					</p>
					<br />
					<p>
						<strong>Frameworks</strong>
						<br />
						Astro, React, Svelte, Next.js, Gatsby, Express, Flask, Django, Laravel, Ruby on Rails, Spring Boot, ASP.NET
					</p>
					<br />
					<p>
						<strong>Tools</strong>
						<br />
						Webpack, Rollup, Babel, ESLint, Prettier, Tailwind, Storybook, Cypress, Jest, Docker, Kubernetes, Git, GitHub Actions, Vercel, Netlify, Firebase, AWS
					</p>
					<br />
					<p>
						<strong>Design</strong>
						<br />
						Adobe XD, Figma, Adobe Photoshop, Adobe Illustrator, Adobe After Effects, Adobe Premiere Pro
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
