---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" />
		<h2>Full Stack Development</h2>
		<p>
			I have experience working with a wide variety of technologies,
			including JavaScript, HTML/CSS, React, Node.js, Express, and more.
			I have built both front-end and back-end systems, and
			I am comfortable working with databases, APIs, and other complex systems.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="cloud" color="var(--accent-regular)" size="2.5rem" />
		<h2>Cloud Computing and DevOps</h2>
		<p>
			I am experienced in both cloud computing and DevOps, 
			with expertise in deploying and managing cloud-based applications and services.
			I have worked with cloud computing platforms such as Amazon Web Services (AWS), Google Cloud Platform (GCP),
			and Microsoft Azure, and have used DevOps tools such as Jenkins, Docker, and Kubernetes to
			automate software development, testing, and deployment pipelines.
		</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="handshake" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Open Source Contributions</h2>
		<p>
			I am passionate about contributing to open source projects and
			have contributed to several notable projects on GitHub.
			I am comfortable working with Git, creating pull requests, and
			collaborating with other developers.
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
